$card_height: 110px;

.card-slider {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.card-slider-item {
  white-space: normal;
  margin-right: $space / 3;
  
  &:last-child {
    margin-right: 0;
  }
}

.card-slider-anchor {
  position: relative;
  display: block;
  height: $card_height;
  width: $card_height * 1.5;
  overflow: hidden;
  border-radius: $space / 3;
  color: $white;
  padding: $space / 2;
  background: $black;

  &:hover,
  &:focus {
    color: $white;
  }
}

.card-slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  object-fit: cover;
  opacity: 0.7;
}

.card-slider-title {
  position: relative;
  z-index: 3;
}
