.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-grid-item {
  width: 32%;
  margin-bottom: $space / 3;
}  

.card-grid-anchor {
  display: block;
  background: $white;
  padding: ($space / 1.5) ($space / 2);
  border-radius: $space / 3;
  text-align: center;
}

.card-grid-img {
  width: 38px;
  height: 38px;
  margin-bottom: $space / 2;
  object-fit: contain;
}

.card-grid-title {
  margin-bottom: 0;
  font-size: $base_font_size * 0.9;
  line-height: $base_font_size;
  color: $black;
  height: $base_font_size * 2;
  overflow: hidden;
}